#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 20px;
}

section {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  margin: 10px 0;
}

img {
  border-radius: 5px;
  margin-top: 10px;
}

