/* Base Styles for Mobile */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #e9cba7; /* Desert Sand */
  margin: 0;
  padding: 10px;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #777777; /* Cactus Green */
}

a {
  text-decoration: none;
  color: #fff;
}

button,
.button {
  background-color: #3a5d24;
  color: #fff;
  padding: 10px 15px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

header {
  background-color: #3a5d24;
  padding: 15px;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 1.8rem;
  margin: 0;
}

nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  display: block;
  padding: 10px;
}

footer {
  background-color: #3a5d24;
  color: white;
  text-align: center;
  padding: 15px;
}

/* Main Content */
main {
  padding: 15px;
  background-color: #ebdcca;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Hero Section and Overlay */
#hero {
  position: relative;
  width: 100%;
}

#hero img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(58, 93, 36, 0.7); /* Semi-transparent Cactus Green */
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.overlay h2 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  font-size: 1.8rem;
  color: #fff;
}

.overlay p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
  font-size: 1rem;
}

.overlay .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3a5d24; /* Cactus Green */
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  font-size: 1rem;
}

.overlay .button:hover {
  background-color: #2e4720;
}
