/* Base Styles for Mobile */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #e9cba7; /* Desert Sand */
  margin: 0;
  padding: 10px;
  color: #333;
}

body.dark-mode {
  background-color: #333;
  color: #444;
}

body.dark-mode header,
body.dark-mode footer,
body.dark-mode .card {
  background-color: #555;
  color: #e9cba7;
}

body.dark-mode main {
  background-color: #444;
}

body.dark-mode h2 {
  color: whitesmoke;
}

body.dark-mode h3 {
  color: whitesmoke;
}

body.dark-mode .button {
  background-color: #3a5d24;
}

body.dark-mode a {
  color: #e9cba7;
}

h1 {
  color: #fff;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #fff;
}

button,
.button {
  background-color: #3a5d24;
  color: #fff;
  padding: 10px 15px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #fff; /* Card background color */
  border-radius: 8px; /* Rounded corners */
  padding: 15px; /* Padding inside cards */
  margin: 10px; /* Margin around cards */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  flex: 1 1 calc(100% - 20px); /* Full width on mobile */
  justify-content: center;
  text-align: center;
}

header {
  background-color: #3a5d24;
  padding: 5px;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 1.8rem;
  margin: 0;
  width: 80%;
  justify-self: center;
}

nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
  flex-direction: row;
}

nav ul li {
  margin: 0px;
  display: flex;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav a {
  color: white;
  display: block;
  padding: 0px;
}

.switch {
  position: absolute;
  display: flex;
  width: 60px;
  height: 34px;
  background-color: white;
  border-radius: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  display: flex;
  cursor: pointer;
  top: 10px;
  left: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider:before {
  display: flex;
  position: relative;
  content: "🌙";
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  top: -6px;
  left: 2px;
  background-color: #90a2b1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 15px;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#hamburgerMenu {
  font-size: 2rem;
  border: 0;
  background: none;
  color: #ffffff;
  position: absolute;
  top: 5px;
  right: 10px;
  display: flex;
}

#hamburgerMenu::before {
  content: "☰";
}

#hamburgerMenu.open::before {
  content: "x";
}

.navigation {
  display: none;
  flex-direction: row;
  list-style: none;
  background-color: #333;
  color: #fff;
}

.navigation.open {
  display: flex;
  position: relative;
  justify: center;
}

.navigation.open ul {
  margin: 0px;
  padding: 0px;
}
.navigation ul {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.navigation ul a {
  display: flex;
  padding: 5px;
  font-size: 20px;
  justify-content: center;
}

.navigation a:hover {
  background-color: #bbb;
  color: #333;
  font-weight: 700;
}

.open a {
  display: block;
  justify-content: center;
}

footer {
  background-color: #3a5d24;
  color: white;
  text-align: center;
  padding: 15px;
}

footer p:first-of-type {
  width: 80%;
  justify-self: center;
}

/* Main Content */
main {
  padding: 15px;
  background-color: #ebdcca;
  position: relative;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Hero Section and Overlay */
#hero {
  position: relative;
  width: 100%;
}

#hero img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(58, 93, 36, 0.8); /* Semi-transparent Cactus Green */
  color: white;
  text-align: center;
  padding: 2px;
  border-radius: 10px;
  height: 80%;
  width: 80%;
  align-content: center;
  overflow: hidden;
}

.overlay h2 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  font-size: 1.8rem;
  color: #fff;
}

.overlay p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
  font-size: 1rem;
}

.overlay .button {
  display: relative;
  padding: 10px 20px;
  background-color: #3a5d24; /* Cactus Green */
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  font-size: 1rem;
}

.overlay .button:hover {
  background-color: #2e4720;
}
