/* Medium Styles for Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    padding: 20px;
  }

  header h1 {
    font-size: 2.2rem;
    padding: 40px;
  }
  .card-container {
    flex-direction: row;
  }
  .card {
    flex: 1 1 calc(33.33% - 20px); /* 3 cards in a row on medium screens */
  }

  nav a {
    display: inline-block;
    padding: 15px;
  }

  main {
    padding: 20px;
  }

  h2 {
    font-size: 1.8rem;
  }

  button,
  .button {
    font-size: 1.2rem;
    padding: 12px 20px;
  }
  #hamburgerMenu {
    display: none;
  }

  .navigation {
    flex-direction: row;
    display: flex;
  }

  .navigation a {
    display: block;
    flex: 1 1 100%;
  }
  .navigation ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
  }
}
