/* query for larger screens */
@media (min-width: 640px) {
  body {
    background-color: #e9e9e9;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header img {
    margin-right: 20px;
  }

  img#profile-image {
    width: 100px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    font-size: 14pt;
  }

  .navigation {
    justify-content: center;
  }

  /* make it not inline??? idk??? */
  nav ul li {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    text-align: justify;
    white-space: nowrap;
  }

  main {
    margin: 40px auto;
    padding: 40px;
  }

  main h2 {
    text-decoration: underline;
  }

  .card ul li {
    display: flex;
    align-items: center;
  }

  .card ul li {
    flex-direction: row;
  }

  .card ul li p {
    margin: 10px; /* Adds spacing around the "|" separator */
  }

  .card a:link {
    color: darkblue;
  }

  .card a:visited {
    color: darkblue;
  }

  .weekitems {
    align-content: center;
    position: relative;
  }

  footer {
    padding: 30px;
  }

  #menu {
    display: none;
  }
}
