/* query for larger screens */
@media (min-width: 640px) {
  body {
    background-color: #e9e9e9;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header img {
    margin-right: 20px;
  }

  img#profile-image {
    width: 100px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    font-size: 14pt;
  }

  .navigation {
    justify-content: center;
  }

  nav ul li {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    text-align: justify;
    white-space: nowrap;
  }

  .hero img {
    width: 100%;
    height: auto;
    position: relative;
    max-width: 960px;
  }

  .heropicture {
    position: relative;
  }

  .herolabel p {
    padding: 0.25rem;
    font-size: 2.5rem;
    text-shadow: 4px 4px 10px black;
  }
  main {
    padding: 40px;
    padding-top: 0px;
  }

  main h2 {
    text-decoration: underline;
  }

  .card ul li {
    display: flex;
    align-items: center;
  }

  .card ul li {
    flex-direction: row;
  }

  .card ul li p {
    margin: 10px; /* Adds spacing around the "|" separator */
  }

  .card a:link {
    color: darkblue;
  }

  .card a:visited {
    color: darkblue;
  }

  footer {
    padding: 30px;
  }

  #hamburgerMenu {
    display: none;
  }

  .navigation ul {
    justify-content: space-around;
  }
}
